# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment files
.env

# Virtual environments
.venv/
venv/

# VSCode settings
.vscode/

# Log files
logs/

# claude files
CLAUDE.md
claude/
.claude/