fastapi
uvicorn
sqlalchemy[asyncio]
psycopg[binary]
passlib[bcrypt]
python-jose[cryptography]
pydantic
python-dotenv
pydantic[email]
loguru
pdfplumber
python-docx
openpyxl
pgvector
langchain
aiohttp
python-multipart