# Database
DATABASE_URL={postgresql+psycopg://<DB_USER>:<DB_PASSWORD>@<DB_HOST>:<DB_PORT>/<DB_NAME>}

# JWT
JWT_SECRET={your_jwt_secret}
JWT_ALGORITHM={jwt_algorithm}
ACCESS_TOKEN_EXPIRE_MINUTES={expire_time}

# App
APP_HOST={host}
APP_PORT={port}